#formtracuusp {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

#lbtracuusp {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#tracuusp {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

#sbmtracuusp {
    background-color: #1a1c28;
    color: #ffffff;
    border: none; /* hoặc border-width: 0; */
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
